name: Check VLESS RU Whitelist + Reality Vision + GeoIP + ASN

on:
  schedule:
    - cron: '*/9 * * * *'
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests geoip2

      - name: Check VLESS servers (Reality Vision + SNI + GeoIP + ASN)
        id: check_alive
        run: |
          python - <<'EOF'
          import os, time, socket, urllib.parse, requests
          from concurrent.futures import ThreadPoolExecutor, as_completed
          import geoip2.database

          URL = "https://github.com/AvenCores/goida-vpn-configs/raw/refs/heads/main/githubmirror/26.txt"

          TIMEOUT = 0.6
          CHECK_COUNT = 20
          MAX_LATENCY = 600
          MAX_WORKERS = 120

          # GeoIP databases
          COUNTRY_DB = "geoip/GeoLite2-Country.mmdb"
          ASN_DB = "geoip/GeoLite2-ASN.mmdb"

          reader_country = geoip2.database.Reader(COUNTRY_DB)
          reader_asn = geoip2.database.Reader(ASN_DB)

          # SNI whitelist
          RU_SNI_WHITELIST = {
              "stats.vk-portal.net","sun6-21.userapi.com","sun6-20.userapi.com",
              "avatars.mds.yandex.net","queuev4.vk.com","sun6-22.userapi.com",
              "sync.browser.yandex.net","top-fwz1.mail.ru","ad.mail.ru","eh.vk.com",
              "akashi.vk-portal.net","sun9-38.userapi.com","st.ozone.ru",
              "ir.ozone.ru","vt-1.ozone.ru","io.ozone.ru","ozone.ru","xapi.ozon.ru",
              "strm-rad-23.strm.yandex.net","online.sberbank.ru","esa-res.online.sberbank.ru",
              "egress.yandex.net","st.okcdn.ru","rs.mail.ru","counter.yadro.ru",
              "742231.ms.ok.ru","splitter.wb.ru","a.wb.ru","user-geo-data.wildberries.ru",
              "banners-website.wildberries.ru","chat-prod.wildberries.ru","servicepipe.ru",
              "alfabank.ru","statad.ru","alfabank.servicecdn.ru","alfabank.st",
              "ad.adriver.ru","privacy-cs.mail.ru","imgproxy.cdn-tinkoff.ru",
              "mddc.tinkoff.ru","le.tbank.ru","hrc.tbank.ru","id.tbank.ru","rap.skcrtxr.com",
              "eye.targetads.io","px.adhigh.net","nspk.ru","sba.yandex.net",
              "identitystatic.mts.ru","tag.a.mts.ru","login.mts.ru","serving.a.mts.ru",
              "cm.a.mts.ru","login.vk.com","api.a.mts.ru","mtscdn.ru",
              "d5de4k0ri8jba7ucdbt6.apigw.yandexcloud.net","moscow.megafon.ru",
              "api.mindbox.ru","web-static.mindbox.ru","storage.yandexcloud.net",
              "personalization-web-stable.mindbox.ru","www.t2.ru","beeline.api.flocktory.com",
              "static.beeline.ru","moskva.beeline.ru","wcm.weborama-tech.ru",
              "1013a--ma--8935--cp199.stbid.ru","msk.
