name: Filter Stable VLESS Servers

on:
  workflow_dispatch:
  schedule:
    - cron: '*/10 * * * *'  # каждые 10 минут

jobs:
  filter_stable:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install requirements
        run: |
          pip install -r source/requirements.txt

      - name: Filter stable servers
        env:
          INPUT_FILE: githubmirror/26_alive.txt
          OUTPUT_FILE: githubmirror/26_stable.txt
          MAX_PING: 600
        run: |
          python source/filter_stable.py

      - name: Upload stable servers as artifact
        uses: actions/upload-artifact@v3
        with:
          name: stable-vless-servers
          path: githubmirror/26_stable.txt
